.hero{
  background: radial-gradient(56.66% 45.7% at 50% 54.3%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(168deg, #EEBFAB 5.58%, rgba(234, 222, 206, 0) 46.81%), #EADBC7;
}




/* HEADER */
.header-title{

  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;

  color:black;

}


/* Description */
.title-font-style{
  width: auto;
  left: 51px;
  top: 96px;

  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;

  color: #000000;
}



/* How To  */
.sub-text-font{
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}


.sub-text{
  font-family: Biotif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  color: #000000;
}








/*  FONTS  */
@font-face{
  font-family: "Biotif";
  src: url("../public/fonts/Biotif/Biotif-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face{
  font-family: "GoshaSans";
  src: url("../public/fonts/GoshaSans/GoshaSans-Regular.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}





/* Results Page */

.top-result{
  margin-bottom: auto;
}


.results-container{
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-spacing{

  padding-left: 2em;
  padding-top: 3em;
}

.percentage{
  color:green;
}




/* Screens */

/*  DESKTOP */
@media (max-width: 1024px){
  .desktop-align{
    margin-left: 10em !important;
  }


  .desktop-style{
    margin-left:0em;
    max-width: 200px;
  }

  .title-font-style{
    height: 70px imp !important;
  }

  .card-spacing{
    margin-left: 1em;
    padding-left: 2em !important;
    padding-top: 3em;
  }
}


@media (max-width: 786px){
  .title-font-style{
    width: auto;
    left: 51px;
    top: 96px;
  
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px !important;
    line-height: 58px;
  
    color: #000000;
  }
  

  .card-spacing{
    padding-left: 1em !important;
    padding-top: 3em;
  }
  
  
  
  
}










/*  ANIMATION STYLING */

/* CREDIT GOES TO https://codepen.io/Jemimaabu/pen/ebQxqJ */ 

@import url('https://fonts.googleapis.com/css?family=Staatliches');

.loader {
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  height: 100vh;
  animation: backgroundChange .5s linear 3s forwards;
}

.load-text {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 10vmax;
  width: fit-content;
  display: flex;
  animation: colorChange .5s linear 3s forwards;
}

.loaded-text {
  transform: scale(1.5);
  animation: scaleText .5s linear .5s forwards;
}

.loading-text {
  width: 0;
  overflow: hidden;
  animation: expand .5s linear 1.5s forwards;
}

main {
  padding: 1em;
  box-sizing: border-box;
  background-color: black;
  color: white;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

@keyframes scaleText {
  from {transform: scale(1.5)}
  to {transform: scale(1)}
}

@keyframes expand {
  from {width: 0;}
  to {width: 17vmax;}
}

@keyframes backgroundChange {
  from {background-color: white}
  to {background-color: black}
}

@keyframes colorChange {
  from {color: black}
  to {color: white}
}

@keyframes fadeOut {
  from {opacity: 1}
  to {
    opacity: 0; 
    z-index: -1;
  }
}