.hero{
  background: radial-gradient(56.66% 45.7% at 50% 54.3%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(168deg, #EEBFAB 5.58%, rgba(234, 222, 206, 0) 46.81%), #EADBC7;
}




/* HEADER */
.header-title{

  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;

  color:black;

}


/* Description */
.title-font-style{
  width: auto;
  left: 51px;
  top: 96px;

  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;

  color: #000000;
}



/* How To  */
.sub-text-font{
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}


.sub-text{
  font-family: Biotif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  color: #000000;
}








/*  FONTS  */
@font-face{
  font-family: "Biotif";
  src: url("../public/fonts/Biotif/Biotif-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face{
  font-family: "GoshaSans";
  src: url("../public/fonts/GoshaSans/GoshaSans-Regular.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}





/* Results Page */

.top-result{
  margin-bottom: auto;
}


.results-container{
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-spacing{

  padding-left: 2em;
  padding-top: 3em;
}

.percentage{
  color:green;
}




/* Screens */

/*  DESKTOP */
@media (max-width: 1024px){
  .desktop-align{
    margin-left: 10em !important;
  }


  .desktop-style{
    margin-left:0em;
    max-width: 200px;
  }

  .title-font-style{
    height: 70px imp !important;
  }

  .card-spacing{
    margin-left: 1em;
    padding-left: 2em !important;
    padding-top: 3em;
  }
}


@media (max-width: 786px){
  .title-font-style{
    width: auto;
    left: 51px;
    top: 96px;
  
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px !important;
    line-height: 58px;
  
    color: #000000;
  }
  

  .card-spacing{
    padding-left: 1em !important;
    padding-top: 3em;
  }
  
  
  
  
}










/*  ANIMATION STYLING */

/* CREDIT GOES TO https://codepen.io/awjones/pen/gQQypd */ 
.loader {
  background-color:#7ed6df;
  text-align:center;
  height: 100vh;
  display:flex;
  align-items:center;
  justify-content:center;
}
.loader h1 {
  color:white;
  font-family: 'arial';
  font-weight: 800;
  font-size: 4em;
}
.bullets{
  animation: dots 2s steps(3, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}


Resources