.hero{
  background: radial-gradient(56.66% 45.7% at 50% 54.3%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(168deg, #EEBFAB 5.58%, rgba(234, 222, 206, 0) 46.81%), #EADBC7;
}




/* HEADER */
.header-title{

  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 38px;

  color:black;

}


/* Description */
.title-font-style{
  width: auto;
  left: 51px;
  top: 96px;

  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;

  color: #000000;
}



/* How To  */
.sub-text-font{
  font-family: Gosha Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}


.sub-text{
  font-family: Biotif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;

  color: #000000;
}








/*  FONTS  */
@font-face{
  font-family: "Biotif";
  src: url("../public/fonts/Biotif/Biotif-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face{
  font-family: "GoshaSans";
  src: url("../public/fonts/GoshaSans/GoshaSans-Regular.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}





/* Results Page */

.top-result{
  margin-bottom: auto;
}


.results-container{
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-spacing{

  padding-left: 2em;
  padding-top: 3em;
}

.percentage{
  color:green;
}




/* Screens */

/*  DESKTOP */
@media (max-width: 1024px){
  .desktop-align{
    margin-left: 10em !important;
  }


  .desktop-style{
    margin-left:0em;
    max-width: 200px;
  }

  .title-font-style{
    height: 70px imp !important;
  }

  .card-spacing{
    margin-left: 1em;
    padding-left: 2em !important;
    padding-top: 3em;
  }
}


@media (max-width: 786px){
  .title-font-style{
    width: auto;
    left: 51px;
    top: 96px;
  
    font-family: Gosha Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px !important;
    line-height: 58px;
  
    color: #000000;
  }
  

  .card-spacing{
    padding-left: 1em !important;
    padding-top: 3em;
  }
  
  
  
  
}










/*  ANIMATION STYLING */

/* CREDIT GOES TO https://codepen.io/DylanMacnab/pen/EgAEXE
*/ 

.ajaxLoad {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
svg {
  position: relative;
  z-index: 10;
  height: 40px;
  -webkit-animation: bounce .5s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite;
          animation: bounce .5s cubic-bezier(0.51, 0.23, 0.02, 0.96) infinite;
}
.ajaxLoad:after {
  position: absolute;
  bottom: 2px;
  left: 20px;
  display: block;
  width: 22px;
  height: 4px;
  background: rgba(0,0,0,0.1);
  border-radius: 100%;
  content: '';
  -webkit-animation: shadow .5s infinite;
          animation: shadow .5s infinite;
}
@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.95, 1.1) translateY(-8px);
            transform: scale(0.95, 1.1) translateY(-8px);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.95, 1.1) translateY(-8px);
            transform: scale(0.95, 1.1) translateY(-8px);
  }
}
@keyframes shadow {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.7, 1);
            transform: scale(0.7, 1);
    background: rgba(0,0,0,0.05);
  }
}
@-webkit-keyframes shadow {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.7, 1);
            transform: scale(0.7, 1);
    background: rgba(0,0,0,0.05);
  }
}
